<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phinmaregistraronlinecourse"
    android:installLocation="internalOnly">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashScreen"
            android:theme="@style/fullScreen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ModuleOneActivity"
            android:theme="@style/DetailsTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModuleTwoActivity"
            android:theme="@style/DetailsTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModuleThreeActivity"
            android:theme="@style/DetailsTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModuleFourActivity"
            android:theme="@style/DetailsTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModuleFiveActivity"
            android:theme="@style/DetailsTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModuleSixActivity"
            android:theme="@style/DetailsTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModuleSevenActivity"
            android:theme="@style/DetailsTheme"
            android:screenOrientation="portrait" />
        <activity android:name=".moduleOne.ModuleOneSub1"
            android:screenOrientation="portrait" />
        <activity android:name=".moduleOne.ModuleOneSub2"
            android:screenOrientation="portrait" />
        <activity android:name=".moduleOne.ModuleOneSub3"
            android:screenOrientation="portrait" />
        <activity android:name=".moduleOne.ModuleOneSub4"
            android:screenOrientation="portrait" />
        <activity android:name=".moduleOne.ModuleOneSub5"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleTwo.ModuleTwoSub1"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleTwo.ModuleTwoSub2"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleTwo.ModuleTwoSub3"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleTwo.ModuleTwoSub4"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleTwo.ModuleTwoSub5"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleTwo.ModuleTwoSub6"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleTwo.ModuleTwoSub7"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleTwo.ModuleTwoSub8"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleThree.ModuleThreeSub1"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleThree.ModuleThreeSub2"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleThree.ModuleThreeSub3"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleThree.ModuleThreeSub4"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleFour.ModuleFourSub1"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleFour.ModuleFourSub2"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleFour.ModuleFourSub3"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleFour.ModuleFourSub4"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleFour.ModuleFourSub5"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleFour.ModuleFourSub6"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleFive.ModuleFiveSub1"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleFive.ModuleFiveSub2"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleFive.ModuleFiveSub3"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleSix.ModuleSixSub1"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleSix.ModuleSixSub2"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleSix.ModuleSixSub3"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleSix.ModuleSixSub4"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleSeven.ModuleSevenSub1"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleSeven.ModuleSevenSub2"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleSeven.ModuleSevenSub3"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleSeven.ModuleSevenSub4"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleSeven.ModuleSevenSub5"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleSeven.ModuleSevenSub6"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleSeven.ModuleSevenSub7"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleSeven.ModuleSevenSub8"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleSeven.ModuleSevenSub9"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.QuizActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".moduleOne.ModuleOneSub6"
            android:screenOrientation="portrait"/>
    </application>

</manifest>